<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    {{>header}}
    <p>This site is created by Nuthalapati Jayachandra using mapbox.com and weatherstack.com</p>
    <img src='/img/forest.jpg'>
    {{>footer}}
</body>
</html>